/* Fonts*/
@font-face {
    font-family: 'Dragon';
    src: url('../../Fonts/Dragon\ is\ coming.otf');
}

@font-face {
    font-family: 'Midnight';
    src: url('../../Fonts/KGMidnightMemories.ttf');
}

/* Flexbox Styling*/
.flex-container {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  
  .flex-item-left {
    flex: 50%;
  }
  
  .flex-item-right {
    flex: 50%;
  }

  /* h3 style and effects */

  .LightGlow {
    text-align: center;
    font-size: 190px;
    font-family:'Dragon';
    letter-spacing: 15px;
    
    animation: LightGlow 1.5s ease-in-out infinite alternate;
    transition: all 0.5s;
  }

  /*glow*/

@keyframes LightGlow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #c21cc2, 0 0 70px #c21cc2, 0 0 80px #c21cc2, 0 0 100px #c21cc2, 0 0 150px #c21cc2;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4ba4ff, 0 0 35px #4ba4ff, 0 0 40px #4ba4ff, 0 0 50px #4ba4ff, 0 0 75px #4ba4ff;
  }
}


  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }