@font-face {
    font-family: 'Midnight';
    src: url('../../Fonts/KGMidnightMemories.ttf');
}

body {
    margin: 0;
}

main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;   
    color: white;
    font-family: Midnight;
    font-size:x-large;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
    text-decoration: none;
    color: white;
}
.navbar__title:hover {
    color: rgb(86, 19, 141);
}

.navbar__item:hover {
    color: rgb(86, 19, 141);
}

.navbar__item {
    padding: 14px 14px;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}

.navbar__title {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar__title:hover {
    text-shadow: 
    0 0 5px rgb(160, 54, 163),
    0 0 10px rgb(160, 54, 163),
    0 0 20px rgb(160, 54, 163),
    0 0 40px rgb(160, 54, 163),
    0 0 80px rgb(160, 54, 163),
    0 0 90px rgb(160, 54, 163),
    0 0 100px rgb(160, 54, 163) 
}

.navbar__item:hover {
    text-shadow: 
    0 0 5px rgb(160, 54, 163),
    0 0 10px rgb(160, 54, 163),
    0 0 20px rgb(160, 54, 163),
    0 0 40px rgb(160, 54, 163),
    0 0 80px rgb(160, 54, 163),
    0 0 90px rgb(160, 54, 163),
    0 0 100px rgb(160, 54, 163) 
}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 600px) {
    .navbar {
      flex-direction: column;
    }
  }