html {
    background: url(../src/Images/BackgroundImg.png)
    no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

